<%-include('./layouts/header.ejs')%>
<style>
  #form {
      width: 400px;
      margin: 0 auto;
      margin-top: 100px;
    }

    .title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 3px;
    height: 30px;
  }

    input[type='submit'] {
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="title">
      <a href="/">首页</a>/密码修改页面
    </div>
    <form id="form">

      <div class="form-group">
        <input type="password" name="oldpassword" id="username" class="form-control input-lg" placeholder="旧密码" required>
      </div>

      <div class="form-group">
        <input type="password" name="newpassword" id="password1" class="form-control input-lg" placeholder="新密码" required>
      </div>

      <div class="form-group">
        <input type="password" name="newpassword1" id="password2" class="form-control input-lg" placeholder="新密码确认" required>
      </div>
      <div style="height:26px;color:red; font-size:14px;" id="msg"></div>
      <div class="form-group">
        <input type="submit" value="密码修改" class="btn btn-primary btn-lg">
      </div>
    </form>
  </div>

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script>

    $('#form').on('submit', function (e) {
      e.preventDefault();
      var p1 = $("#pwd0").val();
      var p2 = $("#pwd1").val();
      var p3 = $("#pwd2").val();
      if(p2!==p3){
        $("#msg").html("两次输入密码不一致，请重新输入").css("color","red");
        return false;
      }else{
        $("#msg").html("密码输入一致！！！").css("color","green");
      }
      $.ajax({
        url: '/respassword',
        data: $(this).serialize(),
        type: 'post',
        dataType: 'json',
        success: function (result) {
          console.log(result)
          if (result.err_code === 1) { // 等于0表示没有发生错误
            alert("密码成功，请重新登录 ！！！")
            $("#pw0").val("");
            $("#pw1").val("");
            $("#pw2").val("");
            $("#msg").html("");
            window.location.href = "/login";
          } else {
            alert("密码重置失败！！！")
          }
        }
      });
    });
  </script>
  <%-include('./layouts/footer.ejs')%>